{% extends 'base.html.twig' %}

{% block title %}Program index
{% endblock %}

{% block body %}
	<h1>Les Films</h1>

	{{ form_start(formSearch) }}
	<div class="my-custom-class-for-errors">
		{{ form_errors(formSearch) }}
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(formSearch) }}
			<button>Rechercher</button>
		</div>
	</div>
	{{ form_end(formSearch) }}

	<div class="row">
		{% for program in programs %}
			<div class="col-md-3">
				<div class="card text-center">
					<img src="{{ program.poster }}" class="card-img" alt="{{ program.title }}"/>
					<div class="card-img-overlay">
						<h5 class="card-title">{{ program.title }}</h5>
						<a href="{{ path('program_show', {'id': program.id}) }}">show</a>
						<a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col">
				<p>Aucun film</p>
			</div>
		{% endfor %}
	</div>

	<a class="btn btn-primary" href="{{ path('program_new') }}">Create new</a>
{% endblock %}
